[submodule "grid-text-worker"]
	path = grid-text-worker
	url = https://github.com/dex3r/grid-text-worker.git
[submodule "image-worker"]
	path = image-worker
	url = https://github.com/dex3r/image-worker.git
