<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AIPG Omniworker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Configure Workers
            </NavLink>
            <NavLink class="nav-link" href="InstancesManager" Match="NavLinkMatch.All">
                <span class="bi bi-box-seam-nav-menu" aria-hidden="true"></span> Setup Multiple Workers
            </NavLink>
            <NavLink class="nav-link" href="Stats" Match="NavLinkMatch.All">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Workers Stats
            </NavLink>
        </div>
    </nav>
</div>
